
<div class="container-scroller">
    <!-- + NAV BAR STARTS HERE  -->
    <app-navbar></app-navbar>
    <!-- - NAV BAR ENDQS HERE  -->
    <div class="container-fluid page-body-wrapper">
      <!-- +SIDE BAR STARTS HERE-->
      <app-sidebar></app-sidebar>
        <!-- -SIDE BAR STARTS HERE-->
      <div class="main-panel">
        <div class="content-wrapper">
         <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!--  +Footer starts here-->
    <app-footer></app-footer>
    <!--  +FOOTER ENDS starts here-->
    </div>




<!--<app-navbar></app-navbar>
 <router-outlet></router-outlet>
 <app-footer></app-footer>-->
