<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">


          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form [formGroup]="addCategorieForm" (ngSubmit)="addCategorie()">
                  <div class="form-row">
                      <div class="form-group col-6">
                          <label for="titre">Titre :</label>
                          <input type="text" name="titre" id="titre" formControlName="titre" class="form-control">
                          <div *ngIf="titre.touched && titre.invalid">
                              <small *ngIf="titre.errors.required" class="text-danger">username is required<br></small>
                              <small *ngIf="titre.errors.pattern" class="text-danger">Invalid username<br></small>
                              <small *ngIf="titre.errors.minlength" class="text-danger">username must contain two characters at least</small>
                          </div>
                      </div>
                    </div>
                  <div class="form-row">
                      <div class="form-group col">
                          <input type="submit" value="Add Categorie" [disabled]="addCategorieForm.invalid" class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn">
                      </div>
                  </div>

              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
