    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des  formateurs</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <button class="btn btn-primary"  [routerLink]="['/adduser' ]" >Ajouter</button>
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>id</th>
    <th>name</th>
    <th>Lastname</th>
    <th>adresse</th>
    <th>email</th>
    <th>Phone</th>
    <th>Role</th>
    <th>login</th>
    <th>password</th>
    <th></th>
    <th></th>

                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of Users" >
                      <th>{{user.id }}</th>
                      <td>{{user.name }}</td>
                      <td>{{user.lastname }}</td>
                      <td>{{user.adress }}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone }}</td>
                      <td>{{user.Role }}</td>
                      <td>{{user.login }}</td>
                      <td>{{user.password }}</td>
                      <td><button class="btn btn-danger mx-3" (click)="delete(user)">Delete</button><br></td>
                     <td> <button class="btn btn-warning"  [routerLink]="['/edituser',user.id ]" >update</button></td>

                  </tr>
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
